{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Discover Your Dream Car Today (＾▽＾)</h2>
            <h5>Explore our extensive collection of the latest and greatest cars.</h5>

            <div>
                <button class="btn btn-primary">Browse Cars</button>
                <button class="btn btn-primary">Join Our Community</button>
            </div> 
            
        </div> 
            <!-- Header Image -->
        <div class="col-md-6">
            <img src="https://i.imgur.com/3tJqIgq.jpg" alt="Hero Header Image" class="header-image">
        </div>
            
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Find the Perfect Car for You ヾ(＾-＾)ノ</h2>
            <p>Choose from a wide range of makes, models, and styles!</p>
        </div>
    </section>
    <!-- End of Middle Section -->
    
    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="https://i.imgur.com/ABN6GhA.jpg" alt="Sedan image" id="sedan-image">
            <h4>Sedans</h4>
            <p>Experience comfort and style with our selection of sedans.</p>
        </div>
    
        <div class="col-12 col-md-4">
            <img src="https://i.imgur.com/1jA6VEF.jpg" alt="SUV Image" id="suv-image">
            <h4>SUVs</h4>
            <p>Find the perfect family-friendly vehicle among our SUVs.</p>
        </div>
    
        <div class="col-12 col-md-4">
            <img src="https://i.imgur.com/2QnGg9X.jpg" alt="Sports Car image" id="sports-car-image">
            <h4>Sports Cars</h4>
            <p>Unleash your inner speed demon with our collection of sports cars.</p>
        </div>      
    </section>
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="https://i.imgur.com/5BIq3cU.jpg" alt="Car Enthusiasts Image" id="car-enthusiasts-image">
        </div>
        <div class="col-12 col-md-6">
            <h4>Connect with Other Car Enthusiasts</h4>
            <p>
                Discuss your passion for cars with other like-minded enthusiasts. Join our online community to share your experiences, knowledge, and love for cars.
            </p>
            <div>
                <button class="btn btn-primary">Join the Discussion</button>
                <button class="btn btn-primary">Share Your Collection</button>
            </div>
    
        </div>
    
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../static/images/CarShowcaseLogo.png" alt="Car Showcase Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Car Showcase?</p>
                <p>About Us</p>
                <p>Contact</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Categories</h4>
                <p>Sedans</p>
                <p>SUVs</p>
                <p>Sports Cars</p>
                <p>Electric Cars</p>
                <p>Luxury Cars</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Community</h4>
                <p>Join the Discussion</p>
                <p>Share Your Collection</p>
                <p>Car Enthusiasts</p>
                <p>Events & Meetups</p>
                <p>Blog</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Support</h4>
                <p>FAQs</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Help Center</p>
                <p>Contact Us</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Connect</h4>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Instagram</p>
                <p>LinkedIn</p>
                <p>YouTube</p>
            </div>
        </div>
    </footer> 
</div>

{% endblock content %}

